  <tr>
    <td>
      Avatar
    </td>
    <td>
      <%= f.file_field :avatar, :required => true %>
    </td>
  </tr>
  <tr>
    <td>
      Full Name
    </td>
    <td>
      <%= f.text_field :first_name, :required => true %>
    </td>
  </tr>
  <tr>
    <td>
      Nick Name
    </td>
    <td>
      <%= f.text_field :name, :required => true %>
    </td>
  </tr>
  <tr>
    <td>
      Relationship
    </td>
    <td>
      <%= f.select(:relationship, relation)  %>
    </td>
  </tr>


